.single-tour {
    width: 450px;
    margin-bottom: 15px;    
    font-size: 0;
}

.single-tour img {
    width: 448px;
    border: solid 1px black;
    margin-bottom: 0px;
}

.single-tour footer {
    margin-top: 0px;
    box-shadow: 0 0 8px 2px #888;
    font-size: 15px;
    padding: 20px;
}

.tour-header {
    display: flex;
}

.tour-header h4 {
    margin-top: 0px;
}

.tour-price {
    margin-left: auto;
    color: rgb(28, 118, 170);
}

.tour-info {
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
}

.tour-info button {
    color: rgb(28, 118, 170);
    border: none;
    font-weight: bold;
}

.delete-btn {
    width: 175px;
    display: block;
    margin: auto;
    color: rgb(56, 2, 2);
    font-weight: bold;
}